-extends "base.html"
-block scripts
	%script{type:"text/javascript", language:"Javascript", src:"/static/js/example.js"}
-block content
	%section
		%h2= page.name
		%p= page.description | safe
		-if page.flowchart
			%img{src:"/serve/{{page.flowchart.key()}}"}
		%form#answer{method:"post"}
			%textarea#editor{name:"code"}= page.start_code
			%label Input:
				%br
				%textarea#input
			%br
			%input{id:"submit-test", type:"submit", value:"Test Program"}
			%input{id:"submit-check", type:"submit", value:"Submit Work"}

		#message= message
		#cmpinfo Compiler:
			.code= cmpinfo
		#output Output:
			.code= output

		%p Powered by 
			%a{href:"http://ideone.com"}ideone.com
			&copy; by 
			%a{href:"http://sphere-research.com"} Sphere Research Labs