-extends "base.html"
-block content
	Already have an account? 
	%a{href:"/login"} Login
	%br
	%form.auth-form{method:"post"}
		%label
			Username:
			%input{type:"text", name:"username", value:'={username}'}
			.error= usernameerror

		%label
			Password:
			%input{type:"password", name:"password", value:'={password}'}
			.error= passworderror

		%label
			Verify Password:
			%input{type:"password", name:"verify", value:'={verify}'}
			.error= verifyerror

		%label
			Email (Optional):
			%input{type:"text", name:"email", value:'={email}'}
			.error= emailerror

		%label
			Room:
			%input{type:"text", name:"room", maxlength:"1", value:'={room}'}
			.error= roomerror

		%label
			Number:
			%input{type:"text", name:"number", maxlength:"2", value:'={number}'}
			.error= numbererror

		%br
		%br
		%input{type:"submit", value:"Submit"}